/* ============================ */
/*            Gallery
/* ============================ */

#mt_portfolio.portfolio_col_2 {
  padding-top: 0 !important;
  .portfolio_grid {
    width: calc(50% - 25px);
    margin: 10px;
    @media only screen and (max-width: 767px) {
      padding: 0 15px;
      width: 97% !important;
    }
    @media only screen and (max-width: 480px) {
      width: 95%;
    }
  }
}

#mt_portfolio {
  .portfolio_grid {
    width: calc(33.3333333% - 25px);
    height: auto;
    margin: 12px;
    float: left;
    position: relative;
    @media only screen and (max-width: 767px) {
      margin-left: 0;
    }
    @media only screen and (max-width: 767px) {
      padding: 0 15px;
      width: 97%;
    }
    @media only screen and (max-width: 480px) {
      width: 95%;
    }
  }
  .portfolio_item h2{
    margin-top: 15px;
  }
  li {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }

  .portfolio_row {
    margin-top: 30px;
    @media only screen and (max-width: 767px) {
      margin-top: 0;
    }
  }
  .portfolio_hover * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .portfolio_hover {
    &:before {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      top: 100%;
      content: '';
      background-color: $shark;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
      @media only screen and (max-width: 767px) {
        right: 25px;
        left: 25px;
      }
    }
    img {
      vertical-align: top;
      max-width: 100%;
      backface-visibility: hidden;
    }
    figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h3, h5 {
      margin: 0;
      opacity: 0;
      letter-spacing: 1px;
    }
    h3 {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      color: $white;
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      margin-bottom: 5px;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    h5 {
      font-weight: normal;
      padding: 3px 10px;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .open_img h5 {
      background: $white;
      border-radius: 50%;
      color: $shark;
      display: block;
      height: 40px;
      text-align: center;
      width: 40px;
    }
  }
  .portfolio_hover:hover:before,
  .portfolio_hover.hover:before {
    top: 10px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .portfolio_hover:hover h3,
  .portfolio_hover.hover h3,
  .portfolio_hover:hover h5,
  .portfolio_hover.hover h5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .portfolio_hover:hover h3,
  .portfolio_hover.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .portfolio_hover:hover h5,
  .portfolio_hover.hover h5 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
}

figure.portfolio_item {
  color: #fff;
  position: relative;
  overflow: hidden;
  background: #000000;
  text-align: left;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 8px;
}
figure.portfolio_item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.portfolio_item img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.portfolio_item > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.portfolio_item > div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background-image: linear-gradient(-45deg, #000000 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1));
}

figure.portfolio_item h2 a,
.portfolio_cat{
  font-weight: 700;
  font-size: 20px;
  top: 0;
  opacity: 0;
  padding: 25px;
  margin: 0;
  position: relative;
  color: transparent;
  text-shadow: 0 0 10px #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.portfolio_cat {
  top: 55px;
  position: absolute;
  padding-left: 26px;
  padding-top: 0;
  line-height: 10px;
}
.portfolio_cat li {
  display: inline-block;
  color: #fafafa;
  padding: 0;
  margin: 0;
  font-size: 12px;
  opacity: 0.5;
  letter-spacing: 2px;
}

figure.portfolio_item h2 span {
  font-weight: 800;
}
figure.portfolio_item i {
  display: inline-block;
  font-size: 28px;
  color: #000;
  position: absolute;
  bottom: 20px;
  right: 0px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.05s linear;
  transition: 0.05s linear;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
figure.portfolio_item .curl {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .4s ease;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.portfolio_item .curl:before,
figure.portfolio_item .curl:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12%;
  bottom: 6%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}
figure.portfolio_item .curl:after {
  left: auto;
  right: 6%;
  bottom: auto;
  top: 14%;
  transform: skew(-15deg) rotate(-84deg);
}
figure.portfolio_item.hover > div .portfolio_cat,
figure.portfolio_item:hover > div .portfolio_cat,
figure.portfolio_item:hover > div h2 a,
figure.portfolio_item.hover > div h2 a {
  opacity: 1;
  text-shadow: 0 0 0px #ffffff;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.portfolio_item:hover > div::before,
figure.portfolio_item.hover > div::before {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.portfolio_item:hover i,
figure.portfolio_item.hover i {
  opacity: 0.9;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  right: 15px;
  transition: 0.5s all ease;
}
figure.portfolio_item:hover .curl,
figure.portfolio_item.hover .curl {
  width: 90px;
  height: 90px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* ============================ */
/*            End Gallery
/* ============================ */