/* ============================ */
/*        Sidebar Menu          */
/* ============================ */

.brand_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .vz_brand {
    width: 35px;
    height: 35px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .vz_brand_title {
      margin-left: 10px;
      font-weight: 100;
      color: #fff;
      font-size: 18px;
    }
  }
}

.vz_main_header {
  z-index: 1028;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  padding: 0;
  top: 0;
  color: #444;
  width: 100%;
  margin-left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #e0e6f5;
  background: #fff;
  &.top_nav {
    background: #fff;
    height: 100px;
    z-index: 1111;
    position: fixed;
    top: 0;
    .search-field {
      background: transparent;
      margin-right: .75rem;
      .input-group {
        border: 1px solid #e0e6f5;
        border-radius: 50px;
        padding: 4px 12px;
        .form-control {
          border: none !important;
          border-radius: 50px;
        }
        .input-group-prepend {
          background: transparent;
          color: #c9c8c8;
          width: auto;
          border: none;
          .input-group-text{
            border: 0 !important;
            color: #c7c7c7;
            background: transparent !important;
          }
        }
      }
    }
    .language_dropdown {
      border: 1px solid #e0e6f5;
      border-radius: 50px;
      &.dropdown {
        .dropdown-item {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          padding: 10px 25px;
          justify-content: space-between;
        }
        .btn {
          padding: 8px 15px !important;
        }
      }
    }
    .logout_link {
      margin-right: 15px;
      color: #848484 !important;
      &:hover {
        color: #000 !important;
      }
      i {
        margin-left: 10px;
        font-size: 16px !important;
      }
    }
    .nav_wrapper_main {
      .navbar-nav {
        .nav-item {
          &.nav-profile {
            .profile_sec {
              position: relative;
              img {
                width: 45px !important;
                height: 45px !important;
              }
              i {
                position: absolute;
                background: theme-color-main(primary);
                border-radius: 50%;
                width: 18px;
                height: 18px;
                font-size: 11px;
                line-height: 15px;
                text-align: center;
                border: 2px solid #fff;
                bottom: -15px;
                right: -9px;
                color: #fff;
              }
              .hi_name {
                color: #848484;
              }
              .profile_name {
                color: #000 !important;
              }
            }
          }
          .nav-link {
            color: #444;
            &.count-indicator i {
              color: #444;
            }
            &.count-indicator .count {
              background: theme-color-main(primary);
              color: #fff;
              width: 5px;
              height: 5px;
              left: 15px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .mobile_header {
    display: none;
  }
  .mobile_header .logo-dark,
  .mobile_header .logo-thumb {
    display: none;
  }
  .navbar-nav {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
  }
  .navbar-nav > li {
    line-height: 70px;
    display: inline-block;
    .nav-link {
      padding: 0;
    }
  }
}
.vz_mobile_menu_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 37px;
  height: 70px;
  padding: 0 10px;
  span {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #848484;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1px;
    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      height: 1px;
      background-color: #848484;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 0;
    }
    &:after {
      top: 5px;
      width: 70%;
    }
    &:before {
      top: -5px;
      width: 40%;
    }
  }
}

.vz_main_header:before,
.vz_main_container:before {
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.vz_navbar {
  display: block;
  z-index: 1029;
  position: fixed;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 350px;
  height: 100vh;
  top: 100px;
  background: #fff;
  color: #4a4a4a;
  border-right: 1px solid #e0e6f5;
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  .scroll-div.navbar-content {
    height: calc(100vh - 100px);
  }
  .header-logo {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: left;
    height: 70px;
    text-align: center;
    width: 350px;
    margin-right: 0;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    .logo-dark {
      display: none;
    }
    .logo-thumb {
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      opacity: 0;
      position: absolute;
      -webkit-transition: unset;
      transition: unset;
    }
    .vz_mobile_menu_icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 37px;
      height: 70px;
      position: absolute;
      right: 10px;
      top: 0;
      padding: 0 10px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  .vz_mobile_menu_icon {
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 2.8px;
      background-color: #a9b7d0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 2px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        left: 0;
        height: 2.8px;
        background-color: #a9b7d0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
      }
      &:after {
        top: 5px;
        width: 70%;
      }
      &:before {
        top: -5px;
        width: 40%;
      }
    }
  }
  &.navbar-collapsed {
    width: 125px;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    .header-logo {
      width: 80px;
    }
  }
  a {
    color: #8d97ad;
  }
  .pcoded-badge {
    font-size: 75%;
    position: absolute;
    right: 30px;
    top: 12px;
    padding: 2px 7px;
    border-radius: 2px;
  }
  .vz_inner_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    li {
      position: relative;
    }
    li > a {
      text-align: left;
      padding: 10px 15px;
      margin: 5px 0 0;
      display: block;
      border-radius: 0;
      position: relative;
    }
    li > a > .vz_menu_icon {
      font-size: 1rem;
      padding: 4px 7px;
      margin-right: 7px;
      border-radius: 4px;
      width: 30px;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 30px;
      text-align: center;
    }
  }
}

.vz_navbar {
  .header-logo + .scroll-div {
    float: left;
    display: inline-block;
  }
  .vz_inner_nav li.disabled > a {
    cursor: default;
    opacity: 0.5;
  }
  .navbar-content,
  .navbar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
.vz_navbar.navbar-collapsed ~ .vz_main_header {
  width: 100%;
}
.vz_navbar.navbar-collapsed ~ .vz_main_container {
  margin-left: 126px;
}
.vz_navbar.navbar-collapsed:hover {
  width: 350px !important;
}
.vz_navbar.navbar-collapsed:hover .header-logo {
  width: 350px;
}
.vz_navbar.navbar-collapsed:hover .header-logo .logo-thumb {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  opacity: 0;
}
.vz_navbar.navbar-collapsed:hover .header-logo .vz_mobile_menu_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 10px;
}
.vz_navbar .vz_inner_nav > li.active > a,
.vz_navbar .vz_inner_nav > li:hover a {
  background: #F7F7FA;
  color: theme-color-main(primary);
}

@media only screen and (max-width: 991px) {
  .vz_navbar.navbar-collapsed ~ .vz_main_container {
    margin-left: 0;
  }
  #vz_mobileCollapseIcon {
    display: none;
  }
  .vz_main_header {
    background: #3f4d67;
    color: #fff;
    #vz_mobile_head {
      display: none;
      right: 20px;
    }
  }
  .vz_main_header > .collapse:not(.show) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  }
  .vz_main_header .mobile_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  .vz_main_header .mobile_header .brand_logo {
    margin-left: 20px;
  }
  .vz_main_header .mobile_header .vz_mobile_menu_icon {
    right: 20px;
  }
  .vz_main_header .full-screen {
    display: none;
  }

  .vz_navbar {
    margin-left: -350px;
    position: absolute;
    height: 100%;
  }
  .vz_navbar .scroll-div.navbar-content {
    height: 100%;
  }
  .vz_navbar ~ .vz_main_header,
  .vz_navbar ~ .vz_main_container {
    margin-left: 0;
  }
  .vz_navbar ~ .vz_main_header {
    width: 100%;
  }
  .vz_navbar .navbar-brand {
    display: none;
  }
  .vz_navbar.mob-open {
    margin-left: 0;
  }
  .vz_navbar.mob-open ~ .vz_main_header,
  .vz_navbar.mob-open ~ .vz_main_container {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .vz_main_header .navbar-nav > li:first-child {
    padding-left: 0;
  }
  .vz_main_header .navbar-nav.mr-auto li {
    display: none;
  }

  .vz_main_content {
    padding: 30px 15px;
  }
}

.vz_main_sec {
  .menu_icon {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 600;
  }
  .vz_navbar {
    .vz_navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      height: auto;
      min-height: 100%;
    }
    .toggle-sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      background: #2c3547;
      width: 40px;
      height: 40px;
      font-size: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0 5px 0 0;
    }
    &.navbar-collapsed {
      .toggle-sidebar {
        display: none;
      }
    }
    .header-logo {
      padding: 10px 20px;
    }
    .sidebar {
      left: 0;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-box-shadow: inset -1px 0 0 0 rgba(169, 183, 208, 0.2);
      box-shadow: inset -1px 0 0 0 rgba(169, 183, 208, 0.2);
      .nav-link {
        span {
          display: block;
          font-size: 12px;
        }
      }
      li {
        position: relative;
        &:hover {
          background: lighten(theme-color-main(primary), 68%);
          transition: all ease 0.5s;
          a {
            color: #4a4a4a;
          }
        }
        &.active {
          color: theme-color-main(primary);
          &:after {
            content: "";
            background-color: theme-color-main(primary);
            z-index: 1027;
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
          }
        }
        a {
          font-size: 22px;
          padding: 20px 29px;
          position: relative;
          cursor: pointer;
          &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 60%;
            left: 20%;
            bottom: 0;
            border-bottom: 1px solid rgba(181, 189, 202, 0.2);
          }
        }
      }
    }
    .sidebar_content {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
      flex: 1 1 0;
      position: relative;
      label {
        font-weight: 600;
        color: #666;
        display: inline-block;
        margin-bottom: 8px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
      }
      .vz_sidebar_link {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        &.active {
          display: block;
        }
        .vz_inner_nav {
          li{
            &.menu_title {
              font-size: 16px;
              padding: 16px 15px 16px 18px;
              font-weight: 400;
              text-transform: capitalize;
            }
            &.menu_title:after {
              content: "";
              position: absolute;
              height: 1px;
              width: 40px;
              left: 18px;
              bottom: 13px;
              border-bottom: 1px solid rgba(181, 189, 202, 0.2);
            }
          }
        }
      }
    }
  }
}

.vz_main_sec .vz_navbar .sidebar li:last-child a:after {
  display: none;
}

.dropdownAnimation {
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
.view_btn {
  float: right;
  display: inline-block;
  color: white;
  font-size: 12px;
  background: theme-color-main(primary);
  padding: 7px 15px;
  margin-left: 2.5rem;
  border-radius: 4px;
  @media only screen and (max-width: 480px) {
    float: none;
    margin-top: 6px;
  }
}

.menu_icon {
  margin-right: 10px;
  font-size: 1rem;
  color: #565658;
  font-weight: 600;

  .rtl & {
    margin-right: 0;
    margin-left: 10px;
  }
}

.rt-notification-list {
  .rt-notification-item {
    .rt-notification-thumbnail {
      color: #fff;
      position: relative;
      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
      }
    }
    .rt-notification-item-content {
      line-height: 1;
      padding-left: 15px;
    }
    .rt-notification-subject {
      font-family: $font-family;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      margin-bottom: 2px;
    }
    .small-text {
      font-size: 12px;
    }
    .rt-notification-item-content {
      p {
        margin-bottom: 10px;
        line-height: 16px;
      }
    }
  }
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: transparent !important;
}

.ps__thumb-y {
  background: #2a3446 !important;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  background: #222a38 !important;
}

/* ============================ */
/*        End Sidebar Menu      */
/* ============================ */