/* ============================ */
/*            Preloader         */
/* ============================ */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

/* End Preloader */

img {
  margin: 0;
}

/* links */

a,
a:visited {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}
a:hover{
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  outline: 0;
}

p a,
p a:visited {
  line-height: inherit;
  outline: 0;
}


/* list */

ul,
ol {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

ol {
  list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 0px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 0px;
}

button {
  cursor: pointer;
  outline: none!important;
  letter-spacing: 0;
}


.vz_main_content {
  margin-top: 100px;
  padding: 40px 30px;
}
.vz_main_container {
  position: relative;
  margin: 0 auto;
  display: block;
  clear: both;
  float: unset;
  right: 0;
  margin-left: 350px;
  min-height: 100vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pcoded-navbar.mob-open ~ .pcoded-header,
.pcoded-navbar.mob-open ~ .pcoded-main-container,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-header,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-main-container {
  margin-left: 80px;
}

/*------------------------- 1. Core Css -------------------*/

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 280px;
  -webkit-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
}

.sidebar_collapsed.page-container {
  padding-left: 0;
}

.main-content {
  width: 100%;
  background: #f0f4fb;
}

.main-content-inner,
.content-wrapper {
  padding: 40px 0;
  @media (max-width: 992px) {
    padding: 40px 15px;
  }
}

.main-content {
  width: 100%;
  background: #f0f4fb;
}

@media (max-width: 991.98px) {
  .main-content {
    padding-top: 60px;
  }
}

/*------------------------- END Core Css -------------------*/

.footer-area {
  text-align: center;
  padding: 23px 0 19px;
  background: #fff;
}

.footer-area p {
  color: #676666;
  margin-bottom: 0;
}


@media (min-width: 992px) {
  .d_block_lg {
    display: block !important;
  }
  .d_none_lg {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .d_none_sm {
    display: none !important;
  }
  .d_block_sm {
    display: block !important;
  }
}

/*Medium Desktop Device*/

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .col-ml-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-ml-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-ml-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-ml-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 1370px) {
  .page-container,
  .sidebar_collapsed.page-container {
    padding-left: 0;
  }
}

/* ============================= */
/*           Fancy Box           */
/* ============================= */

.fancybox-next span,
.fancybox-prev span {
  background-image: none !important;
  width: 44px !important;
  height: 44px !important;
  line-height: 44px !important;
  text-align: center;
}

.fancybox-next span:before,
.fancybox-prev span:before {
  content: '';
  position: absolute;
  font-family: 'FontAwesome';
  left: 0px;
  top: 0px;
  font-size: 12px;
  width: 44px !important;
  height: 44px !important;
  line-height: 44px !important;
  background-color: rgba(28, 28, 28, 0.40) !important;
  color: #ffffff;
  visibility: visible;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
}

.fancybox-next span:before {
  content: '\f178';
}

.fancybox-prev span:before {
  content: '\f177';
}

.fancybox-next:hover span:before,
.fancybox-prev:hover span:before {
  background: $shark !important;
  color: $white;
}

.fancybox-type-image .fancybox-close {
  right: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  background: url(../images/icon-cross.png) center center no-repeat;
  background-color: $shark !important;
}

.fancybox-type-image .fancybox-close:hover {
  background-color: #000000 !important;
}

.fancybox-type-image .fancybox-skin {
  padding: 0px !important;
}

.section_heading {
  font-size: 40px;
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
  @media only screen and (max-width: 480px) {
    font-size: 25px !important;
  }
  .heading_bg {
    top: 30px;
    color: #666;
    font-size: 70px;
    width: 100%;
    display: block;
    position: relative;
    opacity: 0.1;
    @media only screen and (max-width: 767px) {
      font-size: 50px;
    }
    @media only screen and (max-width: 480px) {
      font-size: 25px;
    }
  }
}

/* ============================ */
/*            Card              */
/* ============================ */

.card {
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #e0e6f5;
  &:hover {
    box-shadow: none;
  }
  .card-body {
    padding: 25px;
  }
  .card_title {
    margin-bottom: 24px;
    color: #212529;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }
  .card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f9f9f9;
  }
}

.h-full {
  height: 100%;
}
.arrow-none:after{
  display:none !important;
}

//Strech Card
.stretched_card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  > .card {
    width: 100%;
    min-width: 100%;
  }
}


// Charts General
.chart_container {
  height: 350px;
}

.sparklines-full {
  margin-left: -10px;
  transform: translateX(5px) translateY(5px);
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff !important;
  color: #444 !important;
  border-radius: 4px;
  span {
    color: #444 !important;
  }
}
.jqsfield {
  font-size: 10px !important;
  color: black !important; /*set the text color here */
}

// Carousel

.carousel {
  img {
    width: 100%;
  }
}

/* Ace Editor */
.ace_editor {
  margin: auto;
  height: 300px;
  width: 100%;

  .ace_content {
    font-size: $default-font-size;
  }
}

.card_dropdown {
  .dropdown-menu {
    font-size: 14px;
    text-align: right;
    text-transform: initial;
  }
}

#morris_line {
  font-family: 'Montserrat' !important;
}

.h-2p {
  height: 3px !important;
}

// Responsive Styling

@media screen and (max-width: 767px) {
  .mb-xs-mob-4 {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 991px) {

  .d-block-mob {
    display: block !important;
  }
  // Margin Top
  .mt-mob-0 {
    margin-top: 0 !important;
  }
  .mt-mob-1 {
    margin-top: .25rem!important;
  }
  .mt-mob-2 {
    margin-top: .5rem!important;
  }
  .mt-mob-3 {
    margin-top: 1rem!important;
  }
  .mt-mob-4 {
    margin-top: 1.5rem!important;
  }
  .mt-mob-5 {
    margin-top: 3rem!important;
  }

  // Margin Right
  .mr-mob-0 {
    margin-right: 0 !important;
  }
  .mr-mob-1 {
    margin-right: .25rem!important;
  }
  .mr-mob-2 {
    margin-right: .5rem!important;
  }
  .mr-mob-3 {
    margin-right: 1rem!important;
  }
  .mr-mob-4 {
    margin-right: 1.5rem!important;
  }
  .mr-mob-5 {
    margin-right: 3rem!important;
  }

  // Margin Bottom
  .mb-mob-0 {
    margin-bottom: 0 !important;
  }
  .mb-mob-1 {
    margin-bottom: .25rem!important;
  }
  .mb-mob-2 {
    margin-bottom: .5rem!important;
  }
  .mb-mob-3 {
    margin-bottom: 1rem!important;
  }
  .mb-mob-4 {
    margin-bottom: 1.5rem!important;
  }
  .mb-mob-5 {
    margin-bottom: 3rem!important;
  }
  // Margin Left
  .ml-mob-0 {
    margin-left: 0 !important;
  }
  .ml-mob-1 {
    margin-left: .25rem!important;
  }
  .ml-mob-2 {
    margin-left: .5rem!important;
  }
  .ml-mob-3 {
    margin-left: 1rem!important;
  }
  .ml-mob-4 {
    margin-left: 1.5rem!important;
  }
  .ml-mob-5 {
    margin-left: 3rem!important;
  }

  //Padding

  // Padding Top
  .pt-mob-0 {
    padding-top: 0 !important;
  }
  .pt-mob-1 {
    padding-top: .25rem!important;
  }
  .pt-mob-2 {
    padding-top: .5rem!important;
  }
  .pt-mob-3 {
    padding-top: 1rem!important;
  }
  .pt-mob-4 {
    padding-top: 1.5rem!important;
  }
  .pt-mob-5 {
    padding-top: 3rem!important;
  }

  // Padding Right
  .pr-mob-0 {
    padding-right: 0 !important;
  }
  .pr-mob-1 {
    padding-right: .25rem!important;
  }
  .pr-mob-2 {
    padding-right: .5rem!important;
  }
  .pr-mob-3 {
    padding-right: 1rem!important;
  }
  .pr-mob-4 {
    padding-right: 1.5rem!important;
  }
  .pr-mob-5 {
    padding-right: 3rem!important;
  }

  // Padding Bottom
  .pb-mob-0 {
    padding-bottom: 0 !important;
  }
  .pb-mob-1 {
    padding-bottom: .25rem!important;
  }
  .pb-mob-2 {
    padding-bottom: .5rem!important;
  }
  .pb-mob-3 {
    padding-bottom: 1rem!important;
  }
  .pb-mob-4 {
    padding-bottom: 1.5rem!important;
  }
  .pb-mob-5 {
    padding-bottom: 3rem!important;
  }
  // Padding Left
  .pl-mob-0 {
    padding-left: 0 !important;
  }
  .pl-mob-1 {
    padding-left: .25rem!important;
  }
  .pl-mob-2 {
    padding-left: .5rem!important;
  }
  .pl-mob-3 {
    padding-left: 1rem!important;
  }
  .pl-mob-4 {
    padding-left: 1.5rem!important;
  }
  .pl-mob-5 {
    padding-left: 3rem!important;
  }
}

@media screen and (max-width: 767px) {
  .pull-left-mob {
    float: left !important;
  }
}

// Social Media
.social-sales-icon-circle {
  height: 40px;
  width: 40px;
  line-height: 1;
  text-align: center;
  border-radius: 100%;
  padding: 12px 13px;
  display: inline-block;
}
.social-sales-count {
  float: right;
  line-height: 2.9;
}

// Social Media Colors
.facebook-bgcolor {
  background-color: #3b5898;
  color: #fff;
}
.twitter-bgcolor {
  background-color: #1ea2f2;
  color: #fff;
}
.instagram-bgcolor {
  background-color: #9361fa;
  color: #fff;
}
.pinterest-bgcolor {
  background-color: #c8232c;
  color: #fff;
}
.googleplus-bgcolor {
  background-color: #d34836;
  color: #fff;
}

footer {
  border-top: 1px solid rgb(224, 230, 245);
}