/* ============================ */
/*            Home
/* ============================ */

.recent_activity {
  small {
    font-size: 11px;
  }
}

.stat-icon i {
  font-size: 36px;
}

.rt_icon_card {
  padding: 10px;
  span {
    font-weight: 600;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
  .icon_rt {
    float: left;
    width: 60px;
    position: relative;
    z-index: 1;
    height: 60px;
    background: #3644FF;
    border-radius: 10px;
    i {
      line-height: 60px;
      margin-bottom: 0;
      font-size: 38px;
      color: #fff;
    }
  }
}

.traffic-sales-amount {
  float: right;
  color: #3d405c;
}

.subheader_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
  background: #fff;
  border: 1px solid #e7ecf9;
  .rt_subheader_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    .rt_subheader_title {
      margin: 0;
      padding: 0 1.5rem 0 0;
      font-size: 16px;
      font-weight: 700;
      color: #434349;
    }
    .kt-subheader__separator {
      display: block;
      width: 12px;
      height: 4px;
      border-radius: 2px;
      background: rgba(149, 156, 182, 0.5);
      margin: 0 1.5rem 0 0;
    }
    .rt_breadcrumb {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style-type: none;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      .rt_breadcrumb_home_icon {
        padding: 0px 0.65rem 0px 0px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        i {
          font-size: 14px;
          color: #959cb6;
        }
        &:hover {
          i {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: theme-color-main(primary);
          }
        }
      }
      .rt_breadcrumb_separator {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0.45rem 0 0;
        color: rgba(149, 156, 182, 0.5);
      }
      .breadcrumb_link {
        padding: 0 0.35rem 0 0;
        font-size: 14px;
        font-weight: 500;
        color: #959cb6;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &:hover {
          color: theme-color-main(primary);
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
    }
  }
}

.analytics_widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  .widget-bg-transparent, .widget-bg {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
  }
  .analytics_chart {
    margin-right: -15px;
    margin-left: -15px;
    height: 60px;
  }
  .widget-bg {
    background: #fff;
    width: 100%;
    position: relative;
    border-radius: 0;
    border: 1px solid #e7ecf9 !important;
  }
  .widget-body {
    padding: 15px 15px;
  }
  .counter-w-info {
    p {
      color: #000;
      font-weight: 500;
    }
    .counter-title {
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 1.2;
      color: #444;
      margin-bottom: 0.625rem;
    }
  }
  .counter_arrow {
    font-size: 14px !important;
    i {
      font-size: 14px;
    }
  }
}

#main_chart {
  font-size: 12px;
}

.chart_stats {
  padding: 20px 10px 30px 60px;
  border-radius: 15px;
  p,h3 {
    color: #fff;
  }
  p {
    margin-bottom: 5px !important;
  }
}

.bullet-line-list {
  padding-left: 30px;
  position: relative;
  list-style-type: none;
  margin-bottom: 0;
  &:after {
    content: "";
    border: 1px solid #e9e8ef;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
  }
  li {
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: "";
      width: 22px;
      height: 22px;
      left: -30px;
      top: 0;
      margin-right: 15px;
      z-index: 2;
      position: absolute;
      border: 4px solid #ffffff;
      border-radius: 100%;
      background: theme-color-main(primary);
    }
  }
}

.orders_overview {
  background: #f9f9f9;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
}

#morris_line svg text {
  font-family: Montserrat;
}

#sale_chart_vz {
  height: 350px;
  position: relative;
  svg {
    text {
      font-size: 12px;
    }
  }
}

#vz_pie_chart_home {
  width: 100%;
  height: 400px;
  svg g {
    font-size: 12px !important;
  }
}

.tab_links {
  a {
    font-size: 14px;
    color: #4a4a4a;
    margin-left: 14px;
    font-weight: 500;
    padding-bottom: 5px;
    &.active,
    &:hover{
      border-bottom: 1px solid theme-color-main(primary);
      color: theme-color-main(primary);
    }
  }
}

.slide_widget {
  .vz_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .vz_nav-next,
    .vz_nav-prev {
      background-color: rgba(94, 37, 114, 0.2);
      position: relative;
      opacity: 1;
      width: 2rem;
      height: 2rem;
      border-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 5px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(94, 37, 114, 1);
      }
    }
  }
  .progress {
    height: 5px;
  }
  .slide_progress {
    h4 {
      font-size: 15px;
      font-weight: 500;
    }
    p {
      font-size: 12px;
    }
  }
  .card_title {
    font-size: 18px;
    color: #4a4a4a;
    span {
      font-size: 28px;
      vertical-align: sub;
      margin-right: 5px;
      width: 60px;
      height: 60px;
      display: inline-block;
      text-align: center;
      line-height: 60px;
      position: relative;
      z-index: 1;
      img {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 45%;
        transform: translate(0,-50%);
        z-index: -1;
        opacity: 0.08;
      }
    }
  }
}

// Sales Stats

#sales_stats {
  height: 350px;
}

.bullet_wrap_chart .bullet_chart {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}
.bullet_wrap_chart .bullet_chart .circle_chart {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50px;
  background: theme-color-main(primary);
}

.bullet_wrap_chart .bullet_chart .circle_chart.circle_light_chart {
  background: theme-color-main(secondary);
}

.dot_vz {
  width: 10px;
  height: 10px;
  display: inline-block;
  padding: 0;
  border-radius: 100%;
  margin-right: 15px;
}

.dot_vz.dot_vz_primary {
  background-color: theme-color-main(primary);
}
.dot_vz.dot_vz_secondary {
  background-color: theme-color-main(secondary);
}
.dot_vz.dot_vz_success {
  background-color: theme-color-main(success);
}
.dot_vz.dot_vz_warning {
  background-color: theme-color-main(warning);
}
.dot_vz.dot_vz_danger {
  background-color: theme-color-main(danger);
}
.dot_vz.dot_vz_dark {
  background-color: theme-color-main(dark);
}
.dot_vz.dot_vz_light {
  background-color: theme-color-main(light);
}

// Widgets Row
.widget_row {
  .col-auto {
    position: relative;
    z-index: 1;
    img {
      position: absolute;
      width: 80%;
      top: 45%;
      transform: translate(-50%, -50%) rotate(-224deg);
      z-index: 1;
      opacity: 0.08;
      left: 50%;
    }
  }
  i {
    font-size: 28px;
  }
}

// Home V2

#mobile_visits_chart {
  height:334px;
}

#traffic_status {
  height:330px;
}

#sales_country {
  height: 150px
}

.avatar-md {
  width: 36px;
  height: 36px;
  img {
    border-radius: 100%;
  }
}

.badge-light-primary.badge-dot {
  background-color: #845EC2;
}

.badge.badge-dot, .badge.badge-dot-outline {
  width: 8px;
  height: 8px;
  display: inline-block;
  padding: 0;
  border-radius: 100%;
}

.sales_country_labels {
  span {
    font-size: 14px;
  }
}


// Home V3

.heading_icon {
  font-size: 28px;
  vertical-align: sub;
  margin-right: 5px;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  position: relative;
  z-index: 1;
  float: left;
  img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 45%;
    transform: translate(0, -50%);
    z-index: -1;
    opacity: 0.08;
  }
}

#sales_statistics_chart {
  height: 245px;
}

#referral_chart {
    height: 260px;
}

.referral_chart_labels span {
  font-size: 14px;
}

.badge-primary1 {
  background-color: #731943;
}
.badge-primary2 {
  background-color: #8C2641;
}
.badge-primary3 {
  background-color: #F2836B;
}
.badge-primary4 {
  background-color: #F26666;
}


/* ============================ */
/*            End Home
/* ============================ */